header {
  height: 70px;
  background-color: #f6f5ef;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
header img {
  /* background: url(../../images/logo/logo.png); */
  /* background-color: #2d2926; */
  width: 45px;
  height: 45px;
  position: absolute;
  top: 12.5px;
  left: 12.5px;
  margin: 0;
}

nav {
  display: flex;
  float: right;
  height: 70px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin : 20px 20px 0 0;
}

nav li a {
  text-decoration: none;
  color: #2d2926;
}