.productList {
  margin: 0;
  padding: 0;
  /* columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2; */
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.productList li {
  width: 48%;
  list-style: none;
  margin: 1%;
  padding: 0;
}

.productList li img {
  width: 100%;
  /* padding-bottom: ; */
}

.productList li div {
  height: 2.4rem;
  font-size: 0.8rem;
  text-align: center;
  line-height: 2.4rem;
}